*.o
*.d
/zterp
/bocfel
/bocfel.html

.*.swp
.cache
.ccls-cache
.clang-format
.clang-tidy
.clangd
.envrc
.gdb_history
.kdev4
*.kdev4
compile_commands.json

/cheapglk
/glkterm
/glktermw
/nanoglk
/qglk
/remglk
/xglk

*.z?
*.blb
*.blorb
*.?blorb
*.glksave
*.inf
*.sav
